
        <h1>Formulario de Registro</h1>
        <form>
            <app-input [inputType]="'text'" [id]="'nombre'" [name]="'nombre'" [placeHolder]="'Nombre'"></app-input>
            <app-input [inputType]="'text'" [id]="'Apellido'" [name]="'Apellido'" [placeHolder]="'Apellido'"></app-input>
            <app-input [inputType]="'email'" [id]="'Email'" [name]="'Email'" [placeHolder]="'Email'"></app-input>
            <app-input [inputType]="'url'" [id]="'url'" [name]="'url'" [placeHolder]="'Url'"></app-input>
            <app-input [inputType]="'password'" [id]="'password'" [name]="'password'" [placeHolder]="'Password'"></app-input>
            <app-input [inputType]="'password'" [id]="'password'" [name]="'password'" [placeHolder]="'Repeat Password'"></app-input>
            <button type="submit">REGISTRARSE</button>
        </form>

