<section class="section">

<div class="title">
  <h2>Libros disponibles</h2>
  <div class="form">
    <div>
      <label for="inputPassword2" class="visually-hidden"></label>
      <input type="number" class="form-control"  placeholder="Introducir Libro" #id>
    </div>
    <div>
      <button type="button" class="btn btn-primary mb-3" (click)="getBook(id)">Buscar</button>
    </div>
  </div>
</div>


  @for(library of books; track library.id_book; let i = $index; let even = $even;){
    <div class="bucle">
      <app-card [book]="library" (deleteCard)="getDataCard($event)" ></app-card>                 
    </div>
  }@empty {
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
          La libreria esta vacia. Vuelve más tarde                        
        </div>
      </div>
  }



</section>
