<section class="section">
    <div class="container-fluid">
        <div class="row">
          
            
                @for(library of book; track library.id_book; let i = $index; let even = $even;){
                  <div class="col-md"> 
                        <div class="card mb-4" style="max-width: 640px;">
                            <div class="row g-3">
                              <div class="col-md-4">
                                <img src="{{library.photo}}" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">{{i}} - {{library.title}}</h5>
                                  <p class="card-text">{{library.id_book | ref}}</p>
                                  <p class="card-text">{{library.type}}</p>
                                  <p class="card-text"><small class="text-body-secondary">Price: {{library.price}} €</small></p>
                                  <p class="card-text"><small class="text-body-secondary">Author: {{library.author}}</small></p>
                                  <button [ngClass]="{'btneven' : even, 'btnComprar': !even }" type="button" class="btnComprar">Comprar</button>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    
                }@empty {
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <div>
                          La libreria esta vacia. Vuelve más tarde                        
                        </div>
                    </div>
                }
                

               
        </div>

        <div class="row">
          <div class="insertBook">
                <input id="id" class="input" type="text" placeholder="ID" #id>
                <input id="link" class="input" type="text" placeholder="Link foto" #link>
                <input id="title" class="input" type="text" placeholder="Título" #title>
                <input id="genre" class="input" type="text" placeholder="Tipo" #type>
                <input id="Year" class="input" type="text" placeholder="Precio" #price>
                <input id="link" class="input" type="text" placeholder="Autor" #autor>
                <button (click)="addBook(id,link,title,type,price,autor)" id="add" class="btnComprar" click="" type="submit">AÑADIR</button>
            </div>
        </div>
    </div>
</section>
