input {
    margin-bottom: 15px;
    padding: 5px;
    border: 2px solid #b3b3b3;
    border-radius: 15px;
    outline-style: none;
    background-color: transparent;
    width: 400px;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.635);

}