#carouselExampleCaptions{
    min-width: 100vw;
    min-height: 83vh;
    background: url(/assets/img/background_home.png) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    flex-wrap: wrap;
    gap: 20px 50px;
}