<div id="carouselExampleCaptions">
       
        <figure>
            <img src="assets/img/PngItem_3670842.png" alt="" srcset="">
        </figure>
        <div class="backgroundtitle glasseffect">
            <div class="title">
                <h5>MyBook Aplication</h5>
                <p>Una App para lectores sin límites que ofrece una comunidad para comentar libros</p>
                <button type="button" class="btn btn-success fs-4 text">Descubrir App</button>
            </div>
        </div>
</div>
<app-footer></app-footer>
