*{
    box-sizing: border-box;
    margin: 0;
}

.section{
    min-height: 83vh;
    min-width: 100vw;
    min-height: 83vh;
    background: url(https://www.shutterstock.com/image-photo/elibrary-many-ebook-icons-electronic-600nw-2311535733.jpg) no-repeat center;
    background-size: cover;
    /* padding-top: 120px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    padding-bottom: 30px;
    font-size: 40px;
    color: white;

}

input{
    background-color: rgba(255, 255, 255, 0.681);
}
